*.RData
*.Rapp.history
*.Rout
*.Rproj
*.aux
*.csv
*.dvi
*.html
*.jpg
*.json
*.log
*.out
*.pdf
*.pickle
*.pkl
*.pyc
*.swo
*.swp
*.tsv
.DS_Store
.ipynb_checkpoints/
.Rhistory
.Rproj.user
.coverage
.dbcreds*
.idea/
.tox
run.sh
tags
image_data/

# Eclipse files
.project
.pydevproject

cache
